body {
  /* background: radial-gradient(circle at bottom, #b20afb -25%, black 75%); */
  background: radial-gradient(circle at 50% 110%, #b20afb -5%, black 80%);
}
#image-container img {
  box-shadow: 0 4px 12px #b20afb35;
}
