@font-face {
  font-family: "Neon";
  src: url("./assets/fonts/Switzer-Extralight.woff2") format("woff2");
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-repeat: cover;
  overflow: hidden;
}
h3 {
  margin: 0;
}
.vert-container {
  display: flex;
  position: relative; /* keep stars/back button behavior */
  flex-direction: column; /* stack children vertically */
  align-items: center; /* center them horizontally */
  justify-content: flex-start; /* keep everything at the top */
  height: 95vh;
  overflow: hidden;
}

/* .content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 95vh;
  flex: 1;
  overflow: hidden;
} */

#image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 22.7vmin;
  height: auto;
}

#image-container img {
  border: 1px solid white;
  border-radius: 5%;
  height: auto;
  width: 95%;
}

#name-instrument {
  margin: 0;
  position: relative;
  color: white;
  font-family: "Neon";
  word-spacing: 0.5rem;
  margin-bottom: 0.5vh;
}

@media (max-width: 768px) {
  #name-instrument {
    font-size: 0.9rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #name-instrument {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  #name-instrument {
    font-size: 2.3rem;
  }
}
.texts {
  display: flex;
  position: relative;
  /* .vert-direction does not control grand-children, only direct children of it. We need to specify flex direction for the children of .texts to follow since .vert-container has no effect on them */
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
  /* width: 95%; */
  flex: 1;
  min-height: 0; /* Allows for the content to shrink if its bigger than the parents content area */
}

.bio {
  margin-top: 0.5vh;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
}

.bio h3 {
  margin-bottom: 0.3rem;
  font-family: "Neon", sans-serif;
  text-align: center;
  /* font-size: 1.5rem; */
  font-size: 4vmin;
}

.social-medias {
  /* margin-top: 1vh; */
  display: inline-flex;
  justify-content: flex-start;
  height: 4vh;
  width: auto;
  /* margin-bottom: 1vh; */
}
.social-medias a {
  display: flex;
  align-items: center;
  gap: 1vh;
  color: white;
  margin-left: 1vw;
  text-decoration: none;
  align-self: center;
  font-size: 3vh;
}
.social-medias img {
  height: 4vmin;
  width: auto;
}
.bio-details {
  margin-top: 0;
  padding: 0.2em 1em;
  border: 2px solid white;
  /* Changed to a percentage so the space below the box remains more consistent */
  /* max-height: 90%; */
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
.bio-details h4 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 2.5vmin;
}
