body {
  /* background: radial-gradient(circle at bottom, #00dce8 -25%, black 75%); */
  background: radial-gradient(circle at 50% 110%, #00dce8 -5%, black 80%);
}

#image-container img {
  box-shadow: 0 4px 12px #00dce835;
}
